.tf-bottombar {
    background-color: var(--primary-1);
    padding: 10px 0;
    overflow: hidden;
    position: relative;
}

.tf-bottombar::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
}


.marquee {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 2;
}

.marquee-inner {
    display: flex;
    width: max-content;
    animation: scroll 25s linear infinite;
    gap: 20px;
    background-size: 200% auto;
    animation:
        scroll 25s linear infinite,
        shine 3.5s linear infinite;
}

.marquee:hover .marquee-inner {
    animation-play-state: paused;
}

.marquee-content {
    display: flex;
    gap: 40px;
    align-items: center;
}

.marquee-child-item img {
    height: 40px;
    width: auto;
    object-fit: contain;
    
    transition: all 0.4s ease;
}



/* Animation vô tận */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

