@use "../abstracts/index" as *;

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header-default {
  border-bottom: 1px solid var(--rgba-dark-1);




  .box-nav-menu {
    gap: 20px;
    @include flex(center, center);

    .item-link {
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 4px;
      @include transition3;
      position: relative;
      color: var(--primary);
      text-decoration: none;

      white-space: nowrap;
    }

    .menu-item {
      padding: 33.5px 20px;
      justify-content: center;
      align-items: center;


      &:hover {
        background-color: var(--rgba-dark-7);
        border-bottom: 1px solid var(--primary-2);
        text-decoration: underline;
      }

      &:hover a {

        text-decoration: underline;
      }
    }
  }

  .nav-icon {
    gap: 30px !important;
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;

    li {
      list-style: none;
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--primary);
        transition: 0.3s ease;

        i {
          font-size: 22px;
        }

        &:hover {
          opacity: 0.8;
        }
      }

      .btn {
        padding: 8px 12px;
        border-radius: 6px;
        background-color: #007bff;

        i {
          font-size: 20px;
          color: var(--primary);
        }
      }
    }
  }


  .nav-search a {
    text-decoration: none;
    color: var(--primary);
  }

  .nav-toggle {
    padding: 28px 28px;
    background-color: var(--primary-2);


    a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    i {
      color: var(--primary);
    }
  }

  .nav-toggle .icon-icon-toggle {
    font-size: 30px;
  }

  .logo-header {
    padding: 20px 20px;
    align-items: center;
    display: flex;
  }

}

.btn {
  background-color: non;
}

header {
  position: sticky;
  left: 0;
  right: 0;
  z-index: 888;
  position: -webkit-sticky;
  // background-color: var(--rgba-dark);
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  font-family: $font-2;
  top: 0;

  &.header-bg {
    background-color: var(--rgba-dark);
  }
}


/* ===== MENU CẤP 2 ===== */
/* MENU CHA (Blog) */
.menu-item {
  position: relative;

  /* Hover mở cấp 2 */
  &:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }
}

/* CẤP 2 */
.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 350px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.25s ease;
  pointer-events: none;
  z-index: 2000;
  display: flex;
  gap: 20px;
}


.menu-heading {
  font-weight: bold;
  font-size: 18px;
  padding-right: 27px;
  
}

.menu-list {
  flex-direction: column;
  gap: 12px;

  a {
    text-decoration: none !important;

    &:hover {
      color: var(--primary-2);
    }
  }
}

// .menu-list li {
//   margin: 0;                     
// }

// /* ITEM CẤP 2 HOVER → mở cấp 3 */
// .sub-menu li:hover > .sub-menu-1 {
//   opacity: 1;
//   visibility: visible;
//   transform: translateX(0);
//   pointer-events: auto;
// }

// /* CẤP 3 (nằm ngang kế bên cấp 2) */
// .sub-menu-1 {
//   position: absolute;
//   top: 0;
//   left: 100%;
//   min-width: 200px;
//   background: #fff;
//   border-radius: 10px;
//   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
//   padding: 15px;

//   opacity: 0;
//   visibility: hidden;
//   transform: translateX(10px);
//   transition: 0.25s ease;
//   pointer-events: none;
//   z-index: 2001;
// }

// /* BẮT BUỘC – tạo stacking context cao hơn page-title */
// .box-navigation {
//   position: relative;
//   z-index: 3000;
// }