@use "../abstracts/index" as *;

.tf-title-page {
  position: sticky;
  margin-top: -100px;
  padding-top: 150px;
  padding-bottom: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(var(--rgba-dark), var(--rgba-dark)),
    url("../../images/header/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}


.title h1 {
  color: var(--primary);
}

.text-lg {
  color: var(--primary);
}

.eadcumb-list {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--primary);
}

.eadcumb-list i {
  font-size: 8px;
}

.eadcumb-list a {
  color: var(--primary);
  text-decoration: none;
}

.eadcumb-list a:hover {
  color: var(--primary-2);
}

// =====================Home========================= //
.title-page-inner {
  position: sticky;
  margin-top: -100px;
  padding-top: 150px;
  padding-bottom: 100px;
  height: auto;
  background: url("../../images/home/slider-bg-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}





.title-page-left {
  writing-mode: sideways-lr;
  padding-left: 25px;

}

.title-page-right {

  padding-right: 25px;

}


.icon-dot-white {
  width: 2px;
  height: 40px;
  background: white;
  display: block;
}


.title-page-content-left {
  display: flex;
  align-items: center;
  gap: 41px;
  // padding-left: 50px;

  .text-phone {
    color: var(--primary);
  }

  .icon-dot-white {
    height: 18px;
    width: 1px;
    background-color: var(--primary);
    transform: rotate(-90deg)
  }

  .text-text {
    color: var(--primary);

    .text-red {
      color: var(--primary-2);
      padding-top: 5px;
    }
  }
}

.title-page-content-right {


  .text-number {
    color: var(--primary);

  }

  .icon-dot-gray {
    display: flex;
    width: 2px;
    height: 265px;
    background-color: var(--rgba-dark-8);
    margin-left: 10px;

    .icon-dot-red {
      display: block;
      width: 2px;
      height: 66px;
      background-color: var(--primary-2);
    }
  }
}

.abc i {
  display: inline-block;
  color: var(--primary) !important;
  transform: scaleX(-1) !important;
}



.box-icon-title {
  display: flex;
  justify-content: end !important;
  margin-top: 180px;
  gap: 15px;

  i {
    font-size: 50px;
    color: var(--primary-2);
  }
}

.titlee h1 {
  color: var(--primary);
  padding-bottom: 45px;

}

.eadcumb-listt {
  display: flex;
  align-items: center;
  gap: 37px;
}


.icon-mouse-title {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-size: 20px;
  color: var(--primary-2);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

