@use "../abstracts/index" as *;

.tf-title-page {
  position: sticky;
  margin-top: -100px;
  padding-top: 150px;
  padding-bottom: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(var(--rgba-dark), var(--rgba-dark)),
    url("../../images/header/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title h1{
  color: var(--primary);
}
.text-lg{
  color: var(--primary);
}
.eadcumb-list {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--primary);
}
.eadcumb-list i{
   font-size: 8px;
}
.eadcumb-list a {
  color: var(--primary);
  text-decoration: none;
}

.eadcumb-list a:hover {
  color: var(--primary-2);
}